<h2><%= @costume.name.capitalize %></h2>

<p>Costume Materials: <%= @costume.clothing_1 %>, <%= @costume.clothing_2 %>,
  <%= @costume.accessory_1 %>, <%= @costume.accessory_2 %>
</p>
<p>Total Cost: $<%= @costume.cost %></p>
<p>How scary it is on a 1-10 scale: <%= @costume.scare_rating %></p>
<p>For <%= @costume.costume_party.name %> Party</p>

<%= link_to "VIEW COSTUMES", costumes_path %>

<% if @user == current_user %>
  <%= link_to "EDIT COSTUME DETAILS", edit_costume_path(@costume) %>
  <%= link_to "DELETE COSTUME", costume_path(@costume), method: :delete %>
<% end %>
