<% if @user == current_user %>
  <h2>Hello, <%= @user.create_username %>!</h2>
<% else %>
  <h2><%= @user.create_username %>'s Costumes</h2>
<% end %>

<% if !@user.costumes.empty? %>
  <h3>Costume(s): </h3><% @user.costumes.each do |costume| %>
    <p><%= link_to costume.name, costume_path(costume) %></p><br>
  <% end %><br><br>
<% else %>
  <h3>No costumes yet!</h3>
<% end %>

<% if @user == current_user %>
  <%= link_to "VIEW USERS", users_path %><br><br>
  <%= link_to "CREATE A NEW COSTUME", new_costume_path %><br><br>
  <%= link_to "CREATE A COSTUME PARTY", new_costume_party_path %><br><br>
  <%= link_to "EDIT USER INFO", edit_user_path %><br><br>
<% end %>
