<h2><%= @party.name %></h2>

<p><%= @party.time %> p.m.</p>
<p><%= @party.date %></p>
<p>Host: <%= @party.user.create_username %></p><br>

<% if !@party.costumes.empty? %>
  <h3>Costumes:</h3>
  <% @party.costumes.each do |costume| %>
    <p><%= link_to costume.name, costume_party_costume_path(costume.costume_party, costume) %></p><br>
  <% end %><br>

  <h3>Best Costume: <%= @party.best_costume %>!</h3>
<% end %>

<%= link_to "VIEW PARTIES", costume_parties_path %><br><br>

<% if @party.user == current_user %>
  <%= link_to "EDIT PARTY DETAILS", edit_costume_party_path(@party) %><br><br>
  <%= link_to "DELETE PARTY", costume_party_path(@party), method: :delete %><br><br>
<% end %>
